body {
    font-family: "Helvetica", "Arial", serif;
    color: #333;
    background-color: lightslategray;
    margin: 1em 10%;
}

h1{
    color: #333;
    background-color: transparent;
}

a{
    font-size: larger;
    color: darkslategray;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

ul{
    padding: 0;
}

li{
    float: left;
    padding: 1em;
    list-style: none;
}

img{
    display: block;
    clear: both;
}

p{
    color: mediumaquamarine;
    font-weight: bold;
}